.banks > li {
    display: flex;
    margin-bottom: 20px;
}
.banks__item {
    border: 2px solid tomato;
    width: 250px;
    border-radius: 20px;
}
.banks__edit--button {
    margin-left: auto;
    margin-right: 10px;
}
button {
    margin: 12px;
    cursor: pointer;
}
  