body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
img,
picture {
  display: block;
  max-width: 100%;
  /* height: auto; */
}
a {
  text-decoration: none;
}

.hero {
  background-image: linear-gradient(rgb(93, 196, 255), rgb(255, 250, 102));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}

.header-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.banks > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  height: 30px;
  padding-left: 10px;
  align-items: center;
  border-radius: 4px;
  border-color: rgb(106, 116, 119);
  box-shadow: 0px 4px 4px rgba(209, 236, 71, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banks > li:hover,
.banks > li:focus {
  background-image: linear-gradient(rgb(93, 196, 255), rgb(255, 250, 102));
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.banks__item {
  border: 2px solid gray;
  width: 250px;
  border-radius: 20px;
}
.banks__edit--button {
  margin-left: auto;
}
button {
  /* margin-right: -10px; */
  cursor: pointer;
}

.wrapper-banklist-container {
  width: 500px;
}

.banks {
  padding: 0;
}

.left-wrapper {
  margin-bottom: auto;
  padding-top: 150px;
}

.hero {
  display: flex;
}

.main-title,
.info-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 0;

  margin-bottom: 20px;
  margin-top: 20px;
}

.header {
  background-image: url(../img/Mortgage-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100px;
  padding-top: 40px;
  padding-left: 600px;
}

.bank-keys {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(77, 75, 76);
  border-width: thin;
}

.bank-information {
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bank_description {
  display: flex;
  justify-content: flex-end;
}

.bank_description {
  margin-left: auto;
}

.rigth-wrapper {
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-top: 150px;
}

.bank-information > li {
  width: 350px;
  padding: 10px 10px;
  margin: auto;
  background-color: transparent;
}

.banks-btn {
  background-color: transparent;
  border-color: transparent;
}

.create_new_bank,
.modal-btn-create-bank {
  border-radius: 4px;
  border-color: rgb(59, 180, 180);
  width: 250px;
  height: 40px;
  margin: auto;
  display: block;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.create_new_bank:hover,
.create_new_bank:focus,
.modal-btn-create-bank:hover,
.modal-btn-create-bank:focus {
  background-image: linear-gradient(rgb(93, 196, 255), rgb(255, 250, 102));

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banks__edit--button {
  background-color: blue;

  /* display: block; */
  height: 100%;
  width: 26px;
}

.banks__remove--button {
  background-color: red;
  height: 100%;
  width: 26px;
}

.btn-wrapper {
  display: flex;
  height: 100%;

  align-items: center;
}
